DateTime
diff-match-patch
et-xmlfile
future
httplib2
jdcal
lazy-object-proxy
mysqlclient
odfpy
openpyxl
Pillow
pycodestyle
pyflakes
pytz
PyYAML
setuptools
six
tablib
unicodecsv
wrapt
xlrd
xlwt
zope.interface
django==1.11.6
django-crispy-forms
django-formtools
django-import-export
django-pure-pagination
django-ranged-response
django-reversion
django-simple-captcha
uwsgi